@keyframes rot55 {
  to {
    transform: rotate(360deg);
  }
}

.w-12.h-12 {
  border: 2px solid gray;
  border-radius: 50%;
  box-shadow: -10px -10px 10px #59f8a1, 0px -10px 10px 0px #32e27b,
    10px -10px 10px #10831a, 10px 0 10px #06f006, 10px 10px 10px 0px #a4ff3d,
    0 10px 10px 0px #3fffcf, -10px 10px 10px 0px #99f10b;
  animation: rot55 0.7s linear infinite;
  position: relative;
}

.w-6.h-6 {
  border: 2px solid rgb(128, 128, 128);
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

/* Loader reservation */

svg {
 width: 3.25em;
 transform-origin: center;
 animation: rotate4 2s linear infinite;
}

circle {
 fill: none;
 stroke: hsl(214, 97%, 59%);
 stroke-width: 2;
 stroke-dasharray: 1, 200;
 stroke-dashoffset: 0;
 stroke-linecap: round;
 animation: dash4 1.5s ease-in-out infinite;
}

@keyframes rotate4 {
 100% {
  transform: rotate(360deg);
 }
}

@keyframes dash4 {
 0% {
  stroke-dasharray: 1, 200;
  stroke-dashoffset: 0;
 }

 50% {
  stroke-dasharray: 90, 200;
  stroke-dashoffset: -35px;
 }

 100% {
  stroke-dashoffset: -125px;
 }
}

.menu-scrollbar::-webkit-scrollbar {
  height: 10px;
}
.menu-scrollbar::-webkit-scrollbar-thumb {
  background: #258A00;
  border-radius: 8px;
}
.menu-scrollbar::-webkit-scrollbar-track {
  background: #e5e7eb;
  border-radius: 8px;
}
.menu-scrollbar {
  scrollbar-color: #258A00 #ffffff;
  scrollbar-width: thin;
}

@keyframes drop-in {
  0% {
    opacity: 0;
    transform: translateY(-80px) scale(0.95);
  }
  100% {
    opacity: 1;
    transform: translateY(0) scale(1);
  }
}
.animate-drop-in {
  animation: drop-in 0.4s cubic-bezier(0.22, 1, 0.36, 1);
}